@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  background: #4b4b4b;
  color: #fff;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
